{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}Adicionar {{ titulo }}{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>Adicionar {{ titulo }}</h1>
<font color='red'><b>{{ erro }}</b></font>
{% if tpObjeto == 'itemrequisicao' %}
<div class="module">
<table>
<caption><a href="" class="section">Informações Gerais</a></caption>
{% for campos in formRequisicao %}
{% if campos.name = "centro_custo" %}
		<tr>
			<td scope="row"><b>Nº da Requisição</b></td>
			<th scope="row">{{requisicao.id}}</th>
		</tr>		
		<tr>
			<td scope="row"><b>Data de Criação</b></td>
			<th scope="row">{{requisicao.dt_requisicao}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Solicitante</b></td>
			<th scope="row">{{requisicao.solicitante}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Centro de Custo</b></td>
			<th scope="row">{{requisicao.centro_custo}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Status da Requisição</b></td>
			<th scope="row">{{requisicao.status}}</th>
		</tr>
{% else %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{campos.value}}</th>
		</tr>
</table>
{% endif %}
{% endfor %}
</div>
{% endif %}
<form action="" method="POST">
	<table>
		{{ form.as_table }}	
		<tr>
			<td><button class="button"type="submit">Adicionar</td>
		{% if tpObjeto == "itemrequisicao" %}
			<td><a href="/lista/requisicao"><button class="button" type="reset">Voltar</button></a></td>
		{% endif %}
		{% if tpObjeto != "itemrequisicao" %}
			<td><a href="/lista/{{ tpObjeto }}"><button class="button" type="reset">Voltar</button></a></td>
		{% endif %}
		</tr>
	</table>
</form>
{% if itens %}
<div class="module">
<table>
<caption><a href="" class="section">Itens da Requisição</a></caption>
<tr>	
			<th scope="row">Item Requisitado</th>
			<td>Quantidade</td>
			<td>          </td>
			<td>Status do Item</td>
		</tr>
{%for item in itens %}
		<tr>	
			<th scope="row">{{item}}</th>
			<td>{{item.qtd}}</td>
			<td>          </td>
			<td>{{item.status}}</td>
		</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
