<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/admin_media/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/admin_media/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="/admin_media/css/dashboard.css" />

<script type="text/javascript" src="/media/js/forms.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
{% block body %}{% endblock %}
<div id="container">
 <div id="header">
        <div id="branding">
          <h1 id="site-name">SGF - Sistema Gestão de Fornecedores</h1>
        </div>

	<div id="user-tools">
            <strong>{{ data }}</strong>
        </div>

 </div>	
 <div id="header">
        <div id="branding">
       
        </div>
 </div>	
    <div id="content" class="flex">
      {% block conteudo %}{% endblock %}
    </div>
      {% block rodape %}
    <hr>
    <div id="footer">
      <p></p>
    </div>    
{% endblock %}
</div>
</body>
</html>
