<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/admin_media/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/admin_media/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="/admin_media/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/media/calendario/calendar-win2k-1.css" title="win2k-1" />
 
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/admin_media/css/ie.css" /><![endif]-->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript">window.__admin_media_prefix__ = "/admin_media/";</script>
<script type="text/javascript" src="/admin_media/js/core.js"></script>
<script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin_media/js/jquery.min.js"></script>
<script type="text/javascript" src="/admin_media/js/jquery.init.js"></script>
<script type="text/javascript" src="/admin_media/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/forms.js"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="dashboard">
<div id="container">
 <div id="header">
        <div id="branding">
          <h1 id="site-name">SGF - Sistema Gestão de Fornecedores</h1>
        </div>

	<div id="user-tools">
	    Bem vindo,
            <strong>{{ request.user }}</strong>.
            <a href="/sair">Sair</a>            
        </div>

 </div>	
 <div id="header">
        <div id="branding">
           <h1>
		{% if not perms.interno.change_cotacao %}
		<a href="/cadastro">Cadastro</a>
		{% endif %}
		{% if perms.interno.add_requisicao %}
		<a href="/lista/requisicao">|    Requisição</a>
		{% endif %}
		{% if perms.interno.change_mapa %}
		<a href="/lista/mapa">|    Mapa Comparativo</a>
		{% endif %}
		{% if perms.interno.aprovar_requisicao %}
		<a href="/lista/aprovacoes">|    Aprovação</a>
		{% endif %}
		{% if perms.interno.del_mapacomparativo %}
		<a href="/admin">|    Administração</a>
		{% else %}
		{% if perms.interno.change_cotacao %}
		<a href="/lista/cotacao">Cotação</a>
		{% endif %}{% endif %}
	   </h1>
        </div>


 </div>	
    <div id="content" class="flex">
      {% block conteudo %}{% endblock %}
    </div>
      {% block rodape %}
    <hr>
    <div id="footer">
      <p></p>
    </div>    
{% endblock %}
</div>
</body>
</html>
