{# inclui o template base.html #}
{% extends "base.html" %}

{# carrega os filtros customizados para templates #}
{% load templates %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}Visualizar {{titulo}}{% endblock %}
{% block menu %}<a href="/cadastro/">Cadastro    |</a>{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>{{ objeto }}</h1><a href="/edita/{{ tpObjeto }}/{{ objeto.id }}/"><img src="/media/img/alterar.gif/" />Modificar</a> | 
<a href="/deleta/{{ tpObjeto }}/{{ objeto.id }}/"><img src="/media/img/delete.gif/" />Excluir</a>
<div class="module">
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Log {{ objeto }}</h2>
        <h3>Inclusão</h3>
	<ul>Data: {{ objeto.dt_inclusao|default_if_none:"" }}</ul>
	<ul>Usuário: {{ objeto.usuario_inclusao|default_if_none:"" }}</ul>
	<h3>Alteração</h3>
	<ul>Data: {{ objeto.dt_alteracao|default_if_none:"" }}</ul>
	<ul>Usuário: {{ objeto.usuario_alteracao|default_if_none:"" }}</ul>
	<h3>Exclusão</h3>
	<ul>Data: {{ objeto.dtExclusao|default_if_none:"" }}</ul>
	<ul>Usuário: {{ objeto.usuario_exclusao|default_if_none:"" }}</ul>
    </div>
</div>
<table>
<caption><a href="" class="section">Informações Gerais</a></caption>
{% for campos in form %}
{% if campos.name = "item_requisicao" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.item_requisicao.material}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Quantidade</b></td>
			<th scope="row">{{objeto.item_requisicao.qtd}} ({{objeto.item_requisicao.material.unidade_medida}})</th>
		</tr>
{% else %}{% if campos.name = "unidade_medida" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.unidade_medida}}</th>
		</tr>
{% else %}{% if campos.name = "gerente" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.gerente}}</th>
		</tr>
{% else %}{% if campos.name = "fabricante" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.fabricante}}</th>
		</tr>
{% else %}{% if campos.name = "grupo_mercadoria" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.grupo_mercadoria}}</th>
		</tr>
{% else %}{% if campos.name = "usuario" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.usuario}}</th>
		</tr>
{% else %}{% if campos.name = "cotacao_vencedora" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.cotacao_vencedora.fornecedor}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Item Cotado</b></td>
			<th scope="row">{{objeto.cotacao_vencedora.item_requisicao|default_if_none:"Finalizado sem vencedor"}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Valor da Cotação</b></td>
			{% if objeto.cotacao_vencedora.vl_cotacao %}
			<th scope="row">{{objeto.cotacao_vencedora.vl_cotacao|default_if_none:""|multiplicar:objeto.cotacao_vencedora.item_requisicao.qtd}}</th>
			{% endif %}
		</tr>
{% else %}{% if campos.name = "centro_custo" %}
		<tr>
			<td scope="row"><b>Data de Criação</b></td>
			<th scope="row">{{objeto.dt_requisicao}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Solicitante</b></td>
			<th scope="row">{{objeto.solicitante}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Centro de Custo</b></td>
			<th scope="row">{{objeto.centro_custo}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Status da Requisição</b></td>
			<th scope="row">{{objeto.status}}</th>
		</tr>
{% else %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{campos.value}}</th>
		</tr>
{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% endfor %}
</table>
{% if itens %}
<table>
<caption><a href="" class="section">Itens da Requisição</a></caption>
<tr>	
			<th scope="row">Item Requisitado</th>
			<td>Quantidade</td>
			<td>          </td>
			<td>Status do Item</td>
		</tr>
{%for item in itens %}
		<tr>	
			<th scope="row">{{item}}</th>
			<td>{{item.qtd}}</td>
			<td>          </td>
			<td>{{item.status}}</td>
		</tr>
{% endfor %}
</table>
{% endif %}
{% if cotacoes %}
<table>
<caption><a href="" class="section">Cotações</a></caption>
<tr>	
			<th scope="row">Fornecedor</th>
			<td><b>Valor Unitário</b></td>
			<td><b>Qtd</b></td>
			<td><b>Valor Total Cotado</b></td>
			<td><b>Obs do Fornecedor</b></td>
		</tr>
{%for cotacao in cotacoes %}
		<tr>	
			<th scope="row">{{ cotacao.fornecedor }}</th>
			<td>{{ cotacao.vl_cotacao|default_if_none:"Não Cotou" }}</td>
			<td>{{ cotacao.item_requisicao.qtd }}</td>
			<td>{{ cotacao.vl_cotacao|default_if_none:""|multiplicar:cotacao.item_requisicao.qtd }}</td>
			<td><a href="javascript:popup('/exibe/obs/{{cotacao.id}}')"><img src="/media/img/exibir.gif/" /></a></td>
		</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
