{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}Visualizar {{titulo}}{% endblock %}
{% block menu %}<a href="/cadastro/">Cadastro    |</a>{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
{% if objeto.nomeMaterial %}<h1>{{objeto.nomeMaterial}}</h1>{% endif %}{% if objeto.vaga %}<h1>{{objeto.vaga}}</h1>{% endif %}
{% if objeto.oportunidade and objeto.aluno  %}<h1>{{objeto.aluno}} >>> {{objeto.oportunidade.empresa}}</h1>{% endif %}
<div class="module">
<table>
<caption><a href="" class="section">Informações Gerais</a></caption>
{% for campos in form %}
{% if campos.name = "itemRequisicao" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.itemRequisicao.material}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Quantidade</b></td>
			<th scope="row">{{objeto.itemRequisicao.qtd}} ({{objeto.itemRequisicao.material.unidadeMaterial}})</th>
		</tr>
{% else %}
{% if campos.name = "unidadeMaterial" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.unidadeMaterial}}</th>
		</tr>
{% else %}{% if campos.name = "grupoMercadoria" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.grupoMercadoria}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Valor da Última Compra</b></td>
			<th scope="row">{{objeto.vlUltimaCompra}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Data da Última Compra</b></td>
			<th scope="row">{{objeto.dtUltimaCompra}}</th>
		</tr>
{% else %}{% if campos.name = "usuario" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.usuario}}</th>
		</tr>
{% else %}{% if campos.name = "cotacaoVencedora" %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{objeto.cotacaoVencedora.fornecedor}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Item Cotado</b></td>
			<th scope="row">{{objeto.cotacaoVencedora}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Valor da Cotação</b></td>
			<th scope="row">{{objeto.cotacaoVencedora.vlCotacao}}</th>
		</tr>
{% else %}{% if campos.name = "centroCusto" %}
		<tr>
			<td scope="row"><b>Data de Criação</b></td>
			<th scope="row">{{objeto.dtRequisicao}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Solicitante</b></td>
			<th scope="row">{{objeto.solicitante}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Centro de Custo</b></td>
			<th scope="row">{{objeto.centroCusto}}</th>
		</tr>
		<tr>
			<td scope="row"><b>Status da Requisição</b></td>
			<th scope="row">{{objeto.status}}</th>
		</tr>
{% else %}
		<tr>
			<td scope="row"><b>{{campos.label_tag}}</b></td>
			<th scope="row">{{campos.value}}</th>
		</tr>
{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% endfor %}
</table>
{% if itens %}
<table>
<caption><a href="" class="section">{{titulo_membros}}</a></caption>
<tr>	
			<th scope="row">Item Requisitado</th>
			<td>Quantidade</td>
			<td>          </td>
			<td>Status do Item</td>
		</tr>
{%for item in itens %}
		<tr>	
			<th scope="row">{{item}}</th>
			<td>{{item.qtd}}</td>
			<td>          </td>
			<td>{{item.status}}</td>
		</tr>
{% endfor %}
</table>
{% endif %}
</div>
{% endblock %}
