{# inclui o template base.html #}
{% extends "basep.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}{{titulo}}{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>{{titulo}}</h1>
  <div id="content-main">  
    <div class="module filtered" id="changelist">
<div id="toolbar">
<div><!-- DIV needed for valid HTML -->
<form action="" method="POST">
<table>
		{{ form.as_table }}
	</table>
</div>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>       
         

<div class="results">
<table cellspacing="0" id="result_list">
<thead><tr>
<th scope="col" class="action-checkbox-column"></th>
<th>Empresa</th>
<th>Item</th>
<th>Valor Cotado</th>
<th>Obs do Fornecedor</th>
</tr>
</thead>
<tbody>
<tr class="row1"><td class="action-checkbox"><input type="radio" value="0" checked name="cotacao" /></td>
<th><a href=""> Nenhuma Cotação Vencedora</a></th>
<td></td><td></td><td></td> </tr>
{%for registro in query %}
<tr class="row1"><td class="action-checkbox"><input type="radio" value="{{registro.id}}" name="cotacao" /></td>
<th><a href="/exibe/material/{{registro.id}}">{{registro.fornecedor}}</a></th>
<td>{{registro.itemRequisicao.material}}</td><td>R$ {{registro.vlCotacao}}</td><td>{{registro.obs}}</td> </tr>
{% endfor %}
</tbody>
</table>
</div>
<p class="paginator">
  <input type="submit" value="Confirmar Vencedor" onsubmit="return confirmarFinalizaMapa()"/>
</p>
      </form>
    </div>
  </div>     
        <br class="clear" />

{% endblock %}

