{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}{{ titulo }}{% endblock %}
{% block body %}<body class="dashboard">{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
{% csrf_token %}
<h1>{{ titulo }}</h1>
{% if tpObjeto != 'mapacomparativo' and tpObjeto != 'cotacao' %}
<a href="/adiciona/{{ tpObjeto }}/000" class="addlink">Adicionar {{ tpObjeto|capfirst }}</a>     |
{% endif %}
<a href="/filtra/{{ tpObjeto }}"><img src="/media/img/exibir.gif/" />Pesquisar {{ tpObjeto|capfirst }}</a>
<div class="module">
<table>
<caption><a href="/lista/{{ tpObjeto }}" class="section">{{ titulo }}</a></caption>
{%for registro in lista %}
		<tr>
			<td><a href="/exibe/{{ tpObjeto }}/{{ registro.id }}/"><img src="/media/img/exibir.gif/" /></a></td>
			<td><a href="/edita/{{ tpObjeto }}/{{ registro.id }}/"><img src="/media/img/alterar.gif/" /></a></td>
			<td><a href="/deleta/{{ tpObjeto }}/{{ registro.id }}/"><img src="/media/img/delete.gif/" /></a></td>
				{% if tpObjeto != 'cotacao' %} <th scope="row"> {{registro}} </th>{% endif %}
				{% if tpObjeto == 'cotacao' %} <th scope="row"> {{registro.dt_limite}} </th>{% endif %}
			{% if tpObjeto == 'requisicao' %}
				<td><a href="/adiciona/itemrequisicao/{{ registro.id }}" class="addlink">Incluir Item</a></td>
			{% endif %}
			{% if tpObjeto == 'fornecedor' %}
				<td><a href="/edita/gruposfornecedor/{{ registro.id }}" class="addlink">Incluir Grupo de Mercadoria</a></td>
			{% endif %}
		</tr>
{% empty %}
<tr>
	<td><a href=""></td>
	<td></td>
	<th scope="row">{{ listaVazia }}</th>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
