{# inclui o template base.html #}
{% extends "base.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}{{ titulo }}{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
{% csrf_token %}
<h1>{{ titulo }}</h1>
<a href="/adiciona/{{ objeto }}/000" class="addlink">{{ fornecedor }} {{ objeto|capfirst }}</a>     |
<a href="/filtra/{{ objeto }}"><img src="/media/img/exibir.gif/" />Pesquisar {{ objeto|capfirst }}</a>
<div class="module">
<table>
<caption><a href="/lista/{{ objeto }}" class="section">{{ titulo }}</a></caption>
{%for registro in lista %}
		<tr>
			<td><a href="/exibe/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/exibir.gif/" /></a></td>
			<td><a href="/edita/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/alterar.gif/" /></a></td>
			<td><a href="/deleta/{{ objeto }}/{{ registro.id }}/"><img src="/media/img/delete.gif/" /></a></td>
				{% if objeto != 'cotacao' %} <th scope="row"> {{registro}} </th>{% endif %}
				{% if objeto == 'cotacao' %} <th scope="row"> {{registro.dtLimite}} </th>{% endif %}
			{% if objeto == 'requisicao' %}
				<td><a href="/adiciona/itemrequisicao/{{ registro.id }}" class="addlink">Incluir Item</a></td>
			{% endif %}
			{% if objeto == 'fornecedor' %}
				<td><a href="/edita/gruposfornecedor/{{ registro.id }}" class="addlink">Incluir Grupo de Mercadoria</a></td>
			{% endif %}
		</tr>
{% empty %}
<tr>
	<td><a href=""></td>
	<td></td>
	<th scope="row">{{ lista_vazia }}</th>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
