{# inclui o template base.html #}
{% extends "basep.html" %}

{# preenche o titulo da pagina que é passado para o template base atraves do 'block' titulo #}
{% block titulo %}{{titulo}}{% endblock %}
{% block menu %}<a href="/cadastro/">Cadastro    |</a>{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>{{titulo}}</h1>
  <div id="content-main">  
    <div class="module filtered" id="changelist">
<div id="toolbar">
<div><!-- DIV needed for valid HTML -->
<form action="" method="POST"> 
<table>
		{{ form.as_table }}
		<tr>
			<td><input type="submit" value="Pesquisar" /></td>
		</tr>
	</table>
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>       
          <div id="changelist-filter">
            <h2>Filtro</h2>           
<h3>Filtros Utilizados: </h3>
<br>
<ul>		
{% for parametro in parametros %}
 <li>*{{parametro}}</li>
{% endfor %}
</ul>
          </div>

<div class="results">
<table cellspacing="0" id="result_list">
<thead>
<tr>
{% for coluna in colunas %}
<th>
{{ coluna }}
</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% if objeto == 'material' %}
{%for registro in query %}
<tr class="row1">
<th><a href="/exibe/material/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.fabricante}}</td><td>{{registro.grupoMercadoria}}</td><td>{{registro.unidadeMaterial}}</td><td>{{registro.tpMaterial}}</td> </tr>
{% endfor %}
{% endif %}
{% if objeto == 'fornecedor' %}
{%for registro in query %}
<tr class="row1">
<td>{{registro.razao}}</td>
<th><a href="/exibe/fornecedor/{{registro.id}}">{{registro.fantasia}}</a></th><td>{{registro.cnpj}}</td><td>{{registro.usuario}}</td><td>{{registro.bairro}}</td><td>{{registro.cidade}}</td><td>{{registro.uf}}</td> </tr>
{% endfor %}
{% endif %}
{% if objeto == 'requisicao' %}
{%for registro in query %}
<tr class="row1">
<th><a href="/exibe/requisicao/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.dtRequisicao}}</td><td>{{registro.solicitante}}</td> <td>{{registro.dtDeferimento}}</td><td>{{registro.status}}</td> </tr>
{% endfor %}
{% endif %}
{% if objeto == 'mapa' %}
{%for registro in query %}
<tr class="row1">
<th><a href="/exibe/mapa/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.dtLiberacao}}</td><td>{{registro.cotacaoVencedora.fornecedor}}</td> <td>{{registro.cotacaoVencedora}}</td><td>{{registro.cotacaoVencedora.vlCotacao}}</td> </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>
<p class="paginator">
{{total}} {{objetototal}}
</p>
      </form>
    </div>
  </div>     
        <br class="clear" />

{% endblock %}

