{% extends "base.html" %}
{% load templates %}

{% block titulo %}{{titulo}}{% endblock %}
{% block body %}<body class="change-list">{% endblock %}

{# preenche o conteudo da pagina que é passado para o template base atraves do 'block' conteudo #}
{% block conteudo %}
<h1>{{titulo}}</h1>
  <div id="content-main">  
    <div class="module filtered" id="changelist">
<div id="toolbar">
<div><!-- DIV needed for valid HTML -->
<form action="" method="POST" name="form"> 
<table>
		{{ form.as_table }}
		<tr>
			<td><input type="submit" value="Pesquisar" /></td>
		</tr>
	</table>
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>       
          <div id="changelist-filter">
            <h2>Filtro</h2>           
<h3>Filtros Utilizados: </h3>
<br>
<ul>		
{% for parametro in parametros %}
 <li>*{{parametro}}</li>
{% endfor %}
</ul>
          </div>

<div class="results">
<table cellspacing="0" id="result_list">
<thead>
<tr>
{% for coluna in colunas %}
<th>
{{ coluna }}
</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% if tpObjeto == 'material' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/material/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.fabricante}}</td><td>{{registro.grupo_mercadoria}}</td><td>{{registro.unidade_medida}}</td><td>{{registro.tp_material}}</td>
<td>{{registro.status}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"l,is" }}</p>
{% endif %}
{% if tpObjeto == 'fornecedor' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{registro.razao}}</td>
<th><a href="/exibe/fornecedor/{{registro.id}}">{{registro.fantasia}}</a></th><td>{{registro.cnpj}}</td><td>{{registro.usuario}}</td><td>{{registro.bairro}}</td><td>{{registro.cidade}}</td><td>{{registro.uf}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"r,es" }}</p>
{% endif %}
{% if tpObjeto == 'requisicao' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/requisicao/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.dt_requisicao}}</td><td>{{registro.solicitante}}</td> <td>{{registro.dt_deferimento}}</td><td>{{registro.status}}</td> </tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"ão,ões" }}</p>
{% endif %}
{% if tpObjeto == 'mapacomparativo' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/mapacomparativo/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.dt_liberacao}}</td>
<td><a href="/exibe/fornecedor/{{registro.cotacao_vencedora.fornecedor.id}}">{{registro.cotacao_vencedora.fornecedor}}</a></td> 
<td><a href="/exibe/material/{{registro.cotacao_vencedora.item_requisicao.material.id}}">{{registro.cotacao_vencedora.item_requisicao}}</a></td><td>{{registro.cotacao_vencedora.vl_cotacao|default_if_none:""}}</td> <td>{{registro.status}}</td> </tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize }}</p>
{% endif %}
{% if tpObjeto == 'cotacao' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/cotacao/{{registro.id}}">{{registro.dt_limite}}</a></th>
<td>{{registro.vl_cotacao}}</td><td>{{registro.item_requisicao}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"ão,ões" }}</p>
{% endif%}
{% if tpObjeto == 'fabricante' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/fabricante/{{registro.id}}">{{registro}}</a></th><td>{{registro.status}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize }}</p>
{% endif %}
{% if tpObjeto == 'unidademedida' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/unidademedida/{{registro.id}}">{{registro}}</a></th>
<td>{{registro.desc_unidade_medida}}</td><td>{{registro.status}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"e de Medida,es de Medida" }}</p>
{% endif %}
{% if tpObjeto == 'grupomercadoria' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/grupomercadoria/{{registro.id}}">{{registro}}</a></th><td>{{registro.status}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"o de Mercadoria,os de Mercadoria" }}</p>
{% endif%}
{% if tpObjeto == 'centrocusto' %}
{%for registro in query %}
<tr class="{% cycle 'row1' 'row2' %}">
<th><a href="/exibe/centrocusto/{{registro.id}}">{{registro}}</a></th><td>{{registro.gerente}}</td><td>{{registro.status}}</td></tr>
{% endfor %}
</tbody></table></div><p class="paginator">{{total}} {{ radicalObjeto }}{{ total|pluralize:"o de Custo,os de Custo" }}</p>
{% endif%}
      </form>
    </div>
  </div>     
        <br class="clear" />

{% endblock %}

